@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');


button[id*="mydropdown"] {
  margin: 5px;
  margin-bottom: 30px;
}

#x {
  width: 100%;
  height: 620px;
}

.flowDiagramContainer {
  width: 55%;
  float: left;
}

.technologyTable {
  width: 50%;
}

.technologyRadarContainer {
  width: 45%;
  float: right;
  margin-right: 11px;
  font-size: 10px;
}

.flowDiagramContainer {
  float: left;
}

.mapContainer {
    width: 60%;
    float: left;
    margin-top: 5%;
}

.detailContainer {
    width: 40%;
    float: right;
    padding: 5px;
    margin-top: 0px;
}

.detailTitle {
  font-size: 18px;
}

html *
{
   font-family: 'Roboto', sans-serif !important;
}