@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

button[id*="mydropdown"] {
  margin: 5px;
}

#x {
  width: 100%;
  height: 620px;
}

.technologyContainer {
  width: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50px 400px 50px;
  grid-gap: 10px;
}

.technologyTable {
  margin: 10px;
}

.technologyChart {
  margin : 0 auto;
}

.mapContainer {
  width: 60%;
  float: left;
  margin-top: 4%;
  height: 620px;
}

.detailContainer {
  padding: 5px;
  margin-top: 0px;
}

.detailTitle {
  font-size: 18px;
  text-align: center;
  margin-top: 14px;
}

html * {
  /* font-family: 'Roboto', sans-serif !important; */
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji !important;
}
