.inland {
  height: 90vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 2fr;
  grid-template-rows: repeat(3, 1fr);
}

.map {
  grid-row: 1/4;
  grid-column: 1/5;
}

#map_options {
  grid-row: 1/2;
  grid-column: 1/2;
  z-index: 1;

  -webkit-box-shadow: 0 10px 6px -6px #777;
  -moz-box-shadow: 0 10px 6px -6px #777;
  box-shadow: 0 10px 6px -6px #777;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 15px;
  margin: auto;
}

#map_legend {
  grid-row: 1/2;
  grid-column: 4/5;
  z-index: 1;

  -webkit-box-shadow: 0 10px 6px -6px #777;
  -moz-box-shadow: 0 10px 6px -6px #777;
  box-shadow: 0 10px 6px -6px #777;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 15px;
  margin: auto;
}

#map_controls {
  grid-row: 1/2;
  grid-column: 2/4;
  text-align: center;
}

#bore_table {
  grid-row: 1/4;
  grid-column: 2/4;
  margin: auto;
  z-index: 1;
}

#filter {
  grid-row: 1/4;
  grid-column: 5/6;
  height: 90vh;
}

.mapboxgl-popup-content {
  background: rgba(0, 0, 0, 0) !important;
  box-shadow: 0 0 0 0 !important;
  border-radius: 0 !important;
  padding: 0 !important;
}

.mapboxgl-popup-anchor-left .mapboxgl-popup-tip {
  border-right-color: red !important;
}

.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip {
  border-top-color: red !important;
}

.mapboxgl-popup-anchor-top .mapboxgl-popup-tip {
  border-bottom-color: red !important;
}

.mapboxgl-popup-anchor-right .mapboxgl-popup-tip {
  border-left-color: red !important;
}